body {
  margin: auto;
  height: 2000px;
}

.fixed {
  position: fixed;
  background-color: khaki;
  width: 40px;
  height: 60px;
}

.blue {
  background-color: blue;
  height: 500px;
}

.green {
  background-color: green;
  height: 500px;
}

.red {
  background-color: red;
}